# Core Framework
langchain>=1.0.0
langchain-core>=1.0.0
langchain-community>=0.4
langchain-classic>=1.0.0

# LLM Integrations
langchain-groq>=1.0.0
langchain-huggingface>=1.0.0
groq

# Web Frameworks
fastapi
uvicorn
streamlit

# Vector Store & Embeddings
faiss-cpu
sentence-transformers>=5.0.0

# Utilities
python-dotenv
langchain-text-splitters>=1.0.0

# Document Processing
PyPDF2
pypdf

# Dependencies
numpy<2,>=1.19.3